.filtersheader {
    width: 200px; height: auto;
    display: flex; align-items: center; justify-content: center;
    margin-bottom: 10px;
}

.filtersheader .filterstext {
    width: auto; height: auto;
    font-weight: bold; font-size: 16px;
}

.filters {
    width: auto;
}

.filters .trashicon {
    width: 20px; height: 20px;
    margin-left: 100px;
}

.filters .trashicon:hover {
    cursor: pointer;
}

.filters .filterscontainer {
    background-color: white; border-radius: 10px;
    padding: 25px;
    width: 200px; height: auto;
}

.filters .filterscontainer hr {
    width: 100%; height: 1px;
    opacity: 40%;
}

.filters .filterscontainer .price {
    width: 100%; height: auto;
    margin-bottom: 10px;
}

.filters .filterscontainer .price .priceheader {
    width: 100%; height: auto;
    display: flex; align-items: center;
}

.filters .filterscontainer .price .priceheader .pricetext {
    font-weight: bold;
    width: min-content; height: auto;
}

.priceuparrow {
    width: 25px; height: 25px;
    margin-left: 82.5px;
    cursor: pointer;
}

.filters .filterscontainer .price .priceinterval .intervaltext {
    font-size: 12px;
}

.filters .filterscontainer .price .priceinterval .prices {
    display: flex;
    margin-top: 10px;
    width: 150px;
    justify-content: space-between;
}

.filters .filterscontainer .price .priceinterval .prices .lowestprice {
    width: min-content;
    font-size: 14px;
}

.filters .filterscontainer .price .priceinterval .prices .biggestprice {
    width: min-content;
    font-size: 14px;
}

.filters .filterscontainer .brands {
    width: 100%; height: auto;
    margin-bottom: 10px; margin-top: 5px;
}

.filters .filterscontainer .brands .brandheader {
    width: 100%; height: auto;
    display: flex; align-items: center;
}

.filters .filterscontainer .brands .brandheader .brandtext {
    font-weight: bold;
    width: min-content; height: auto;
}

.filters .filterscontainer .brands .brandheader .branduparrow {
    width: 25px; height: 25px;
    margin-left: 71.58px;
    cursor: pointer;
}

.filters .filterscontainer .brands .brandfilter {
    width: 150px; height: auto;
    display: inline-block;
}

.filters .filterscontainer .brands .brandfilter .brandoption {
    display: inline-block;
    vertical-align: middle;
}

.filters .filterscontainer .brands .brandfilter .brandoption .checkbox {
    width: 12.5px; height: 12.5px;
    outline: 1px solid black; border-radius: 2.5px;
}

.filters .filterscontainer .brands .brandfilter .brandoption .checkbox:checked {
    width: 12.5px; height: 12.5px;
    background-color: black; border-radius: 2.5px;
}

.filters .filterscontainer .sizes {
    width: 100%;
    gap: 10px;
    display: inline-block;
    margin-top: 5px; margin-bottom: 5px;
}

.filters .filterscontainer .sizes .sizeheader {
    width: 100%; height: auto;
    display: flex; align-items: center;
    margin-bottom: 5px;
}

.filters .filterscontainer .sizes .sizeheader .sizetext {
    font-weight: bold;
    width: min-content; height: auto;
}

.filters .filterscontainer .sizes .sizeheader .sizeuparrow {
    width: 25px; height: 25px;
    margin-left: 50.23px;
    cursor: pointer;
}

.filters .filterscontainer .sizes .sizesfilter {
    width: 150px; height: auto;
    display: inline-block;
}

.filters .filterscontainer .sizes .line {
    width: 100%;
    gap: 5px;
    display: flex;
    margin-bottom: 5px;
}

.filters .filterscontainer .sizes .sizesfilter input {
    display: none;
}

.filters .filterscontainer .sizes .sizeoption {
    width: 45px; height: 25px;
    outline: 1px solid black;
    color: black; font-size: 14px;
    display: flex; cursor: pointer;
    align-items: center; justify-content: space-around; text-align: center;
}

#size_33:checked ~ label[for="size_33"],
#size_33-5:checked ~ label[for="size_33-5"],
#size_34:checked ~ label[for="size_34"],
#size_34-5:checked ~ label[for="size_34-5"],
#size_35:checked ~ label[for="size_35"],
#size_35-5:checked ~ label[for="size_35-5"],
#size_36:checked ~ label[for="size_36"],
#size_36-5:checked ~ label[for="size_36-5"],
#size_37:checked ~ label[for="size_37"],
#size_37-5:checked ~ label[for="size_37-5"],
#size_38:checked ~ label[for="size_38"],
#size_38-5:checked ~ label[for="size_38-5"],
#size_39:checked ~ label[for="size_39"],
#size_39-5:checked ~ label[for="size_39-5"],
#size_40:checked ~ label[for="size_40"],
#size_40-5:checked ~ label[for="size_40-5"],
#size_41:checked ~ label[for="size_41"],
#size_41-5:checked ~ label[for="size_41-5"],
#size_42:checked ~ label[for="size_42"],
#size_42-5:checked ~ label[for="size_42-5"],
#size_43:checked ~ label[for="size_43"],
#size_43-5:checked ~ label[for="size_43-5"],
#size_44:checked ~ label[for="size_44"],
#size_44-5:checked ~ label[for="size_44-5"],
#size_45:checked ~ label[for="size_45"],
#size_45-5:checked ~ label[for="size_45-5"],
#size_46:checked ~ label[for="size_46"],
#size_46-5:checked ~ label[for="size_46-5"],
#size_47:checked ~ label[for="size_47"],
#size_47-5:checked ~ label[for="size_47-5"],
#size_48:checked ~ label[for="size_48"],
#size_48-5:checked ~ label[for="size_48-5"],
#size_49:checked ~ label[for="size_49"],
#size_49-5:checked ~ label[for="size_49-5"],
#size_50:checked ~ label[for="size_50"],
#size_50-5:checked ~ label[for="size_50-5"]
{
  background: black;
  color: #ffffff;
}

.filters .filterscontainer .condition {
    width: 100%; height: auto;
    margin-bottom: 10px; margin-top: 5px;
}

.filters .filterscontainer .condition .conditionheader {
    width: 100%; height: auto;
    display: flex; align-items: center;
}

.filters .filterscontainer .condition .conditionheader .conditiontext {
    font-weight: bold;
    width: min-content; height: auto;
}

.filters .filterscontainer .condition .conditionheader .conditionuparrow {
    width: 25px; height: 25px;
    margin-left: 57.3px;
    cursor: pointer;
}

.filters .filterscontainer .condition .conditionfilter {
    width: 150px; height: auto;
    display: inline-block;
}

.filters .filterscontainer .condition .conditionfilter .conditionoption {
    display: inline-block;
    vertical-align: middle;
}

.filters .filterscontainer .condition .conditionfilter .conditionoption .checkbox {
    width: 12.5px; height: 12.5px;
    outline: 1px solid black; border-radius: 2.5px;
}

.filters .filterscontainer .condition .conditionfilter .conditionoption .checkbox:checked {
    width: 12.5px; height: 12.5px;
    background-color: black; border-radius: 2.5px;
}

.applyfiltersbutton {
    width: 200px; height: 50px;
    background-color: black; color: white; border-radius: 10px;
    display: flex;
    align-items: center; justify-content: center; text-align: center;
    margin-top: 10px;
}

.applyfiltersbutton .applyfilterstext {
    width: auto; height: auto;
    font-size: 16px; font-weight: bold;
}